p {
  margin: 0;
}
p b {
  font-weight: normal;
}

/* .formGetApi {
  display: flex;
} */

h2 {
  margin: 0;
  font-size: 20px;
}

.card_list {
  padding: 0;
  list-style: none;
}

li {
  margin: 10px 0;
}

.number-card {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.inputApi {
  font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
  color: #336; /* Цвет текста */
  width: 500px;
}

.formGetApi {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.apiInfo_all {
  list-style-type: disc;
}

/* * {
  box-sizing: border-box;
}
.product-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.product-tr {
  display: table-row;
}
.product-td {
  display: table-cell;
  text-align: center;
  border: none;
  border: 1px solid #ccc;
  vertical-align: middle;
} */

.form-apiBox {
  display: flex;
}

.bottons-get {
  display: flex;
  margin-top: 15px;
}
.button {
  margin-right: 15px;
}

.section {
  border: 1px solid rgb(190, 190, 190);
  margin: 0 0 10px;
  padding: 10px;
  border-radius: 10px;
}

.product_card {
  border: 1px solid rgb(190, 190, 190);
  width: 100%;
}

.cardHeader {
  background-color: aqua;
  text-align: center;
}

.card_stock {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.card_stocks {
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(223, 223, 223);
}

.card_orders {
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(255, 251, 191);
}

.card_li {
  border: 1px solid black;
  border-radius: 8px;
}

.card_sales {
  background-color: rgb(198, 255, 145);
}
.card_sales_refund {
  background-color: rgb(255, 145, 145);
}
.card_sales_doplata {
  background-color: rgb(68, 126, 45);
}

.buttonGetOrders {
  background-color: rgb(255, 251, 191);
}

.buttonGetSales {
  background-color: rgb(198, 255, 145);
}
.buttonGetStocks {
  background-color: rgb(204, 204, 204);
}

.secondaryInfo {
  list-style: none;
  margin: 5px 0 0 20px;
}
.photo-card {
  max-width: 75px;
  margin: 15px;
  display: flex;
  align-items: center;
}

.photo-card_small {
  width: 100%;
  border-radius: 10px;
}

.name-card {
  width: 20%;
  border: 1 px solid black;

  padding-left: 10px;
}

.price-card {
  width: 30%;
  padding-left: 10px;
}

.price-card_rub::after {
  content: " руб.";
}

.quantity-card {
  padding-left: 10px;
}

.name {
  margin-bottom: 15px;
  font-weight: bold;
}

.discount::after {
  content: "%";
}

.inWayToClientApi::after {
  content: " шт.";
}

.inWayFromClientApi::after {
  content: " шт.";
}

.formula {
  color: rgb(255, 0, 0);
}
